---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Satellite from "../components/Satellite.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Footer from "../components/Footer.astro";
import BlobField from "../components/BlobField.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <div class="page-lower">
      <BlobField />
      <Satellite />
      <HowItWorks />
      <Footer />
    </div>
  </main>
</Layout>
